# Server Configuration
PORT=5000
NODE_ENV=development

# Frontend Configuration
FRONTEND_URL=http://your-new-url.com

# Database Configuration
MONGO_URI=mongodb://localhost:27017/xmentor

# Authentication
JWT_SECRET=your_jwt_secret_here

# ImageKit Configuration
IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=your_url_endpoint
