/* Error: This variable is available from multiple global modules.
 *     ,
 * 1   | @use 'variables' as *;
 *     | ===================== includes variable
 * 2   | @use 'utilities' as *;
 *     | ===================== includes variable
 * ... |
 * 18  |   background-color: $bg-primary;
 *     |                     ^^^^^^^^^^^ variable use
 *     '
 *   src\styles\main.scss 18:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This variable is available from multiple global modules.\a     \2577 \a 1   \2502  @use 'variables' as *;\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  includes variable\a 2   \2502  @use 'utilities' as *;\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  includes variable\a... \2502 \a 18  \2502    background-color: $bg-primary;\a     \2502                      ^^^^^^^^^^^ variable use\a     \2575 \a   src\\styles\\main.scss 18:21  root stylesheet";
}
